.content{
  text-align :center ;
  Background-color : ;
}
.logout{
  display: flex;
  Justify-content: center ;
  height: 20px;
  width: 80px;
  border-radius: 7px;
  margin-top: 30px;
  margin-left: 200px;
  background-color: ;
  color: white;
}
body{
  background-color : #FFF7DD;
}

