body{
  background-color:#432323 ;
}
.box{
  display:flex;
  justify-content: center;
}
.container{
  background-color: #E0D9D9 ;
  border-radius : 30px;
  height: 375px ;
  width: 601px;
  display: flex;
  Justify-content: center ;
  padding-top: 40px;
}
h1{
  color: white;
  display: flex ;
  Justify-content :center ;
}
h3{
  color: white ;
  display :flex ;
  Justify-content :center ;
  margin-top: 2px ;
}
.submit{
  display: flex ; 
  Justify-content: center ;
  margin-left : 30px;
  background-color: #432323;
  color : white;
  border-radius : 7px;
}
@media (max-width:1366){
  .container{
    width: %;
  }
}
