<!DOCTYPE html>
<html>
  <head>
  {% extends "base.html" %}
 <title>{ % block tittle %}admin login {% endblock%}</title>
 {% block head %}
   <link rel="stylesheet"
     href="{{url_for('static', filename='login.css')}}" type ="text/css"/>
     {% endblock %}
  </head>
  <body>
  {% block content %} 
    <div class="box">
     <h2>
       Admin login
</h2>
<div class ="container">
    <form method="post" action='/login'>
    <label for="username">username:
    </label><br>
    <input type="text" id="username"
    required name ='username'><br>
    <label for="password" >password:
    </label><br>
    <input type="password" id="password" required name ='password'><br>
     <button type="submit" class="login">login</button>
    </form>
    </div>
    </div>
    {% endblock %}
<script src="{{url_for ('static', filename='login.js')}}"> </script> 
  </body>
</html>
 

